@import '../../../shared/styles/colors';


.md-motion-header {
  margin-bottom: 8px;
  margin-top: 8px;
}

.md-motion-title {
  border-bottom: 1px solid $color-neutral;
  color: #53504B;
  margin-bottom: 12px;
  padding-bottom: 12px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 2em;
  }
}

.md-motion-meta {
  border-bottom: 1px solid $color-neutral;
  color: #53504B;
  margin-bottom: 12px;
  padding-bottom: 12px;

  th {
    padding-right: 1em;
    vertical-align: top;

    &.md-status {

      .md-status-indicator {
        &.not_voted {
          color: $color-not-voted;
        }
        &.accepted {
          color: $color-accepted;
        }
        &.referred {
          color: $color-referred;
        }
        &.dismissed {
          color: $color-dismissed;
        }
        &.rejected {
          color: $color-rejected;
        }
      }
    }
  }
}

.md-motion-body {
  margin-bottom: 1.5em;
}
