.md-motion-header {
  margin-bottom: 8px;
  margin-top: 8px;
}

.md-motion-title {
  border-bottom: 1px solid #CAD8D1;
  color: #53504B;
  margin-bottom: 12px;
  padding-bottom: 12px;

  h1 {
    padding: 0;
    margin: 0;
  }
}

.md-motion-meta {
  border-bottom: 1px solid #CAD8D1;
  color: #53504B;
  margin-bottom: 12px;
  padding-bottom: 12px;
}