@import '../../shared/styles/colors';


li.md-motion-item {
  border-bottom: 1px solid $color-neutral;
  margin-bottom: 1em;
  padding-bottom: 1em;

  table {
    box-shadow: black;
    width: 100%;

    td {
      //border: 2px solid grey;
      padding: 8px;

      &.md-sidebar {
        width: 2px;

        &.not_voted {
          background-color: $color-not-voted;
        }
        &.accepted {
          background-color: $color-accepted;
        }
        &.referred {
          background-color: $color-referred;
        }
        &.dismissed {
          background-color: $color-dismissed;
        }
        &.rejected {
          background-color: $color-rejected;
        }
      }

      &.md-body {
        h1.md-title {
          clear: both;
          float: left;
          font-size: 1em;
          margin: 0;
          padding: 0;
        }

        .md-full-text {
          clear: both;
          display: none;
          float: left;

          &.open {
            border-top: 1px solid $color-neutral;
            display: block;
            margin-top: 1em;
            padding-top: 1em;
          }
        }

        ul.md-context {
          clear: both;
          color: grey;
          float: left;
          font-size: .85em;
          list-style-type: none;
          padding: 0;
          padding-bottom: .25em;

          li {
            float: left;
            margin-right: .5em;

            &.md-submitter {
            }

            &.md-convention {
              font-weight: bold;
            }

            &.md-section {
              font-weight: bold;
            }
          }
        }
      }

      .md-referrals {
        clear: both;
        float: left;
        margin-top: .25em;
        width: 100%;

        td {
          padding: 0;
        }

        .md-referral-icon {
          color: #DEDC8C;
          vertical-align: top;
          width: 1em;
        }

        ul.md-referral-list {
          list-style-type: none;
          padding: 0;

          li.md-referral-item {
            color: $color-neutral;
            float: left;
            padding: .25em;

            &:after {
              content: ", ";
            }

            &:last-child:after {
              content: ""
            }
          }
        }
      }

      &.md-toggle {
        cursor: pointer;
        text-align: right;
        vertical-align: top;
      }
    }
  }
}
