.md-pagination {
  div {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
  }

  span {
    float: left;
    margin-right: 1em;

    &.button {
      cursor: pointer;
      user-select: none;
    }
  }
}
